/* Réglages pour les écrans de petite taille */
body {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;

  text-align: center;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/* Réglages pour les écrans de taille moyenne */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  button {
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
  }
}

/* Réglages pour les écrans de grande taille */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
}
