<a>Bienvenue chez la Team-Racket</a>

<div class="head"></div>
<img
  class="logo"
  src="https://i.skyrock.net/8867/78898867/pics/3021823732_1_3_UOQ549Q3.png"
  alt="logo"
/>

<div class="body">
  <div class="cell">
    <img src="https://assets.tcgdex.net/fr/xy/xy1/115/low.jpg" alt="Olivier" />
  </div>
  <div class="cell">
    <img src="https://assets.tcgdex.net/fr/bw/bw4/86/low.jpg" alt="Rachid" />
  </div>
  <div class="cell">
    <img src="https://assets.tcgdex.net/fr/swsh/swsh8/241/low.jpg" alt="Damien" />
  </div>
  <div class="cell">
    <img src="https://assets.tcgdex.net/fr/swsh/swsh2/154/low.jpg" alt="Omar" />
  </div>

  <button routerLink="/carte">Retourner à l' accueil</button>
</div>
