<a>Bienvenue chez la Team-Racket</a>

<div class="head"></div>
<img
  class="logo"
  src="https://i.skyrock.net/8867/78898867/pics/3021823732_1_3_UOQ549Q3.png"
  alt="logo"
/>

<div class="body">
  <div class="cell">
    <img src="{{ teamDev[0].image }}/low.jpg" alt="logo" />
  </div>
  <div class="cell">
    <img src="{{ teamDev[1].image }}/low.jpg" alt="logo" />
  </div>
  <div class="cell">
    <img src="{{ teamDev[2].image }}/low.jpg" alt="logo" />
  </div>
  <div class="cell">
    <img src="{{ teamDev[2].image }}/low.jpg" alt="logo" />
  </div>

  <button routerLink="/carte">Retourner à l' accueil</button>
</div>
