
.nombreResultat{
    display: flex;
    border: solid black;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.pokemoncard{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2rem;
}
.Card{
    margin: 0.3em;
    max-width: 30%;
    margin: auto;
}

.search{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.buttonRecherche{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.recherche{
    background-color:#3e4346 ;
    width: 100%;
}   

.search input{
background-color: white;
width: 50%;
height: 20px;
}

.search button{
    width: 10%;
    color: white;
    background-color:#3e4346 ;
}

.recherche{
    display: flex;
    justify-content: center;
    border: solid black;
}