
.card:hover img{
    scale: 125%;
}

.Card{

    margin: 0.3em;
    width: 25%;
    margin: auto;
}

.pokemoncard{
    display: flex;
flex-wrap: wrap;
} */

.recherche {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .Card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .pokemoncard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .pokemoncard .Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 18.75rem;
  }
  
  .pokemoncard .Card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  

.search{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.buttonRecherche{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.recherche{
    background-color:#3e4346 ;
    width: 100%;
}   

.search input{
background-color: white;
width: 50%;
height: 20px;
}

.search button{
    width: 10%;
    color: white;
    background-color:#3e4346 ;
}

.recherche{
    display: flex;
    justify-content: center;
    border: solid black;
}

